* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}


body {
    background: linear-gradient(to right, #F2C94C, #F2994A);
    margin: 0;
    padding: 0;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    font-size: 15px;
    color: #494C4E;
}


form {
    width: 50%;
    min-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

}

input.inputUser, textarea, .servico p, .solicitante p {
    font-size: 14px;
    min-width: 330px;
    display: block;
    margin: 0 auto;
    border-radius: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;

}

textarea {
    height: 200px;
    padding-top: 10px;
    resize: none;
}

.servico, .solicitante, .tipo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.servico p,
.solicitante p,
.tipo p {
    text-align: center;
    margin-top: 5px;
    height: 25px;
    background: linear-gradient(to right, #F2C94C, #F2994A);
    padding: 5px;
    color: #494C4E;
}

.serv-radio {
    text-align: center;
    margin: auto 10px;
    font-size: 15px;
    padding: 10px;
    color: #494C4E;

}

#servico-radio {
    cursor: pointer;
    padding: 50px;
    justify-content: space-between;

}

input[type=radio] {
    accent-color: #F2994A;
    width: 15px;
    height: 15px;
}

.instalacao {
    margin-left: 20px;
}

#solicitacao,
#tipoServico,
#modelo {
    font-size: 14px;
    min-width: 330px;
    display: block;
    margin: 0 auto;
    border-radius: 1px solid #c1c1c1;
    margin-top: 10px;
    height: 40px;

}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#submit {
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #F2C94C, #F2994A);
    color: #494C4E;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    border: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

footer {
    margin-top: 10px;
}

.footer p {
    margin: 0;
    padding: 10px;
    font-size: 10px;
    color: #494C4E;

}

@media screen and (min-width: 992px) {
    body {
        display: flex;
        position: relative;
        top: 30%;
        left: 45%;
        transform: translate(-30%, -30%);
        margin-top: 25%;
        padding: 10px;
        border-radius: 15px;
        width: 80%;
        height: 85%;

    }

    form {
        width: 70%;
        min-width: 400px;

    }

}
